<!-- <nav  style="background-color: #113C5B;">

  <div class="d-flex justify-content-between align-items-center">
    <div>
      <img src="assets/img/image 11.png" class="logo-width">
      <span class="text-white"> Radiance Corp</span>
      <span class="text-white mx-2 text-large fw-bolder text-lg">|</span>
      <span class="text-white"> Supplier Portal</span>
    </div>
    <div>
      <span class="text-white me-2">
        My Profile
        <img src="assets/img/image 4.png" class="rounded-circle cursor-pointer" alt="">
      </span>
    </div>
  </div>
  <div class="text-white d-flex align-items-center pt-1 pb-3">
    <span class="mx-1 d-flex align-items-center">
      <img class="mx-1" width="14" src="assets/img/Vector@2x.png" alt=""><span>Gateway</span>
    </span>
    <span class="mx-1 d-flex align-items-center">
      <img class="mx-1"  width="14" src="assets/img/Vector@2x.png" alt=""><span>Gateway</span>
    </span>
  </div>

</nav> -->

<div class="container-fiuld">
  <nav style="background-color: #113C5B;">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <img src="assets/img/image 11.png" class="logo-width">
        <span class="text-white pt-3 text-white"> Radiance Corp&nbsp;|&nbsp;</span>
        <span class="text-white pt-3 text-white"> Supplier Portal</span>
      </div>

      <div class="d-flex">
        <span class="text-white p-1">Gate Entry User
          <img src="assets/img/image 4.png" class="rounded-circle cursor-pointer" alt="">
        </span>
      </div>
    </div>

    <div class="d-flex">
      <p>&nbsp;
      <img  width="8" height="12.5" src="assets/img/Vector@2x.png" alt="">
      <span class=" p-1 ">
        <a routerLink="gateentry" class="text-white m-1">Gateway</a>
      </span>
      &nbsp;
      <img  width="8" height="12.5" src="assets/img/Vector.png" alt="">
      <span class="p-1">
        <a routerLink="reports" class="text-white">Reports</a>
      </span>
    </p>
    </div>
  </nav>

</div>
<router-outlet></router-outlet>